RULE_API_DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/iot_hub_alpha_db

DB_HOST=db
DB_PORT=5432
DB_NAME=iot_hub_alpha_db
DB_USER=postgres
DB_PASSWORD=postgres

RULE_API_CREATE_TABLES=true
RULE_API_SQL_ECHO=false
